<button (click)="newAlbumForm()">New Recipe</button>
<h1>Recipe</h1>
<br>
(Use "%" as wildcard)
<br>    
<input type="text" [(ngModel)]='naam'>
<button (click)="findByNaam()">Search</button>
<br>
<br>
<table border="1">
    <tr >
        <th>Ingredient</th>
        <th>Stappen</th>
        
    </tr>
    <tr *ngFor="let album of albums">
        <td><a [routerLink]="" (click)="updateRecipe(recipe)">{{recipe.naam}}</a></td>
        <td>{{recipe.ingredient.naam}}</td>
        <td>{{ingredient}}</td>
    </tr>
</table>
<br>

<router-outlet></router-outlet>